<%= form_for current_user.bookmarks.build, url: bookmarks_path do |f| %>
  <%= f.submit t("save"), class: "explore-btn" %>
  <br>
  <span><%= t "mark_as" %></span>
  <%= f.hidden_field :book_id, value: @book.id %>
  <% Bookmark.reads.keys.each do |read_type| %>
    <%= f.radio_button :read, read_type %>
    <%= f.label read_type.to_sym %>
  <% end %>
<% end %>
