<%= provide :title, t("home") %>
<div class="row">
  <div class="col-md-12">
  <h1 class="caption">
     "<%= t("caption") %>"
    <span>- <%= t("ceo") %> </span>
  </h1>
    <div class="owl-carousel owl-theme owl-loaded">
      <div class="owl-stage-outer">
        <div class="owl-stage owl-header">
          <div>
            <%= image_tag("big_header.jpg") %>
          </div>
          <div>
            <%= image_tag("bookshelf.jpg") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="section-fav">
      <%= t("most_beloved_book") %>
      <small><%= t("beloved_desc") %></small>
    </h2>
  </div>
  <div class="col-md-12">
    <div class="owl-carousel owl-theme owl-loaded">
      <div class="owl-stage-outer">
        <div class="owl-stage owl-beloved">
          <%= render "books/beloved", book: beloved_book %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="hackbox">
      <div class="mainbox">
        <div class="realbox">
          <div class="box-content">
            <strong><%= t("free_reading") %></strong>
            <span><%= t("read_free") %></span>
          </div>
          <div class="box-button">
            <%= link_to t("explore_books"), books_path, class: "explore-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
