<tr id="<%= dom_id(book) %>">
  <td><%= link_to book.title, book %></td>
  <td><%= book.author.name %></td>
  <td><%= book.pages %></td>
  <td><%= Publisher.find_by(id: book.publisher_id).name %></td>
  <td><%= book.category.name %></td>
  <td>
    <%= link_to admin_book_path(book.id), class: "btn-edit-book" do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
    |
    <%= link_to admin_book_path(book.id), class: "btn-delete" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
</tr>
