<tr id="<%= dom_id(book) %>">
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.pages %></td>
  <td><%= book.publish_date %></td>
  <td><%= book.category.name %></td>
  <td>
    <%= link_to admin_book_path(book), class: "btn-edit-book" do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
    |
    <%= link_to admin_book_path(book), class: "btn-delete" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
</tr>
