<% provide :title, t("books") %>
<div class="row">
  <div class="col-md-12">
    <h1><%= t "books" %></h1>
  </div>
  <a id="btn-new-book" class="btn btn-success">
    <span>
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </span> <%= t "new_book" %>
  </a>
  <div class="row">
    <div id="custom-search-input">
      <div class="col-md-12">
        <span><%= t "search_title_author" %></span>
        <%= form_tag admin_books_path, method: :get do%>
          <%= search_field_tag "search", nil, class: "form-control",
            placeholder: t("search") %>
          <%= submit_tag t("search"), class: "btn btn-info", name: nil %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="admin-filter">
    <span><%= t "sort_by" %></span>
      <%= form_tag admin_books_path, method: :get do %>
        <%= select_tag :filter,
          options_for_select(Settings.filters.map{|key, val| [val, key]},
          selected: params[:filter]), class: "form-control filter-sel",
          include_blank: true %>
        <%= submit_tag t("filter"), class: "btn btn-default" %>
      <% end %>
    </div>
    <%= will_paginate %>
    <table id="books" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t "title" %></th>
          <th><%= t "author" %></th>
          <th><%= t "pages" %></th>
          <th><%= t "publisher" %></th>
          <th><%= t "category" %></th>
          <th><%= t "action" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @books %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>
<br>
<div id="modal-new" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2><%= t "create_new_book" %></h2>
    </div>
    <div class="modal-body">

    </div>
  </div>
</div>
<div id="modal-edit" class="modal modal-edit-book">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2><%= t "edit_book" %></h2>
    </div>
    <div class="edit-modal-body">

    </div>
  </div>
</div>
