<li class="comment-item" id="<%= dom_id(comment) %>">
  <div class="comment-detail">
    <% if current_user == comment.user %>
      <span class="pull-right">
        <%= link_to comment_path(comment), class: "btn-delete-comment" do %>
          <i class="fa fa-times"></i>
        <% end %>
      </span>
    <% end %>
    <%= link_to user_path(comment.user) do %>
      <%= image_tag "default-avatar.png", class: "img-thumbnail", size: 35 %>
    <% end %>
    <span>
      <%= link_to comment.user.name, user_path(comment.user) %> <%= comment.content %>
    </span>
    <br>
    <span class="comment-time">
      <%= comment.created_at.strftime('%a, %d %b %Y %H:%M:%S') %>
    </span>
  </div>
</li>
