<% provide :title, @user.name %>
<div class="container">
  <div class="row">
    <h1 class="text-center"><%= @user.name %></h1>
  </div>
  <div class="row user-info">
    <div class="col-md-3">
      <%= image_tag "default-avatar.png", class: "user-avatar" %>
    </div>
    <div class="col-md-9">
      <%= link_to @user.name, user_path(@user) %>
    </div>
  </div>
  <div class="row">
    <div class="user-activ">
      <div class="col-md-9">
        <h2><%= t "recent_activity" %></h2>
      </div>
      <div class="col-md-3">
        <span class="favorited-books"><%= t "favorited_books" %></span>
        <span class="book-count">  <%= @user.favorites.count %></span>
        <div class="fav-box">
          <ul class="fav-list">
            <%= render "favorite", collection: @favorites %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
