<% unless @beloved.nil? %>
  <% @beloved.each do |book| %>
    <div class="fav-item">
      <div class="item-image">
        <%= link_to book_path(book) do %>
          <%= image_tag "default-cover.jpg", size: "204x260" %>
        <% end %>
      </div>
      <div class="item-info">
        <h3><%= book.title %></h3>
        <%= link_to book.category.name, books_path(cate: book.category.id) %>
        <h3 class="favs">
          <%= book.favorited_by.size %> <i class="fa fa-heart"></i>
         </h3>
      </div>
    </div>
  <% end %>
<% end %>
