<div class="item-column col-md-4">
  <div class="book-item">
    <div class="item-image">
      <%= link_to book_path(book) do %>
        <%= image_tag "default-cover.jpg", size: "262x334" %>
      <% end %>
    </div>
    <div class="book-info">
      <h3><%= link_to book.title, book_path(book) %></h3>
      <span class="book-cate">
        <%= link_to book.category.name, books_path(cate: book.category.id) %>
      </span>
      <div class="add-fav">
        <% if user_signed_in? %>
          <%= render "favorite_actions", book: book %>
        <% end %>
      </div>
    </div>
  </div>
</div>
