<%= provide :title, @book.title %>
<div class="container">
  <div class="row">
    <h1><%= @book.title %></h1>
    <p>
      <%= t "by" %>: <span class="pub-date"><%= @book.author.name %></span>
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "default-cover.gif", class: "book-cover" %>
    </div>
    <div class="col-md-8">
      <p>
        <%= @book.description.blank? ? t("no_description") : @book.description %>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="bookmark">
        <% unless current_user.nil? %>
          <% if @book.bookmarked? current_user %>
            <p>
              <%= t "user_marked" %>:
              <strong><%= @supports.user_bookmark(current_user).read %></strong>
              <%= t "at" %>
              <strong>
                <%= @supports.user_bookmark(current_user).updated_at.strftime(Settings.option_time.vn) %>
              </strong>
            </p>
            <%= render "bookmarks/edit", user_bookmark: @user_bookmark %>
          <% else %>
            <span><%= t "mark_as" %></span>
            <%= render "bookmarks/bookmark_form", book: @book %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div id="borrow">
        <% unless current_user.nil? %>
          <% unless @borrowed.nil? %>
            <h4>
              <%= t("current_borrowed", borrower: @borrowed.user.name) %>
              <%= t "till" %>: <%= @borrowed.due_date.strftime(Settings.option_time.vn) %>
            </h4>
          <% end %>
          <p>
            <%= link_to t("schedule_borrow"), new_borrow_path, id: "btn-new-borrow" %>
          </p>
          <p><%= t "borrow_queue" %></p>
          <ul>
            <%= render partial: "queue", collection: @queues %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="content-break"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="bars">
        <ul class="navbar details">
          <li>
            <%= link_to @book.category.name, books_path(cate: "#{@book.category.id}") %>
          </li>
          <li>
            <%= @book.pages %> <%= t "pages" %>
          </li>
          <li>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <span class="favorited-count"><%= @book.favorited_by.size %></span>
          </li>
          <li>
            <%= t "published" %>: <%= @book.publish_date %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="fav-actions">
        <%= render "favorite_actions", book: @book %>
      </div>
    </div>
    <div class="col-md-6">
      <span class="avg-head"><%= t "avg_rating" %>: </span>
      <a class="avg-rating" data-toggle="tooltip"
        title="<%= pluralize(@book.reviews.size, "review") %>" >
        <span class="rate-count">
          <span class="label label-default no-rating">
            <%= t("no_rating") if @book.avg_rating == 0 %>
          </span>
          <% @book.avg_rating.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
        </span>
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <%= render "reviews/review_form" if signed_in?  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <div class="reviews">
        <h3><%= t "users_review" %></h3>
        <ul class="review-list">
          <%= render @supports.reviews %>
        </ul>
        <a href="#" id="loadMore"><%= t "load_more" %></a>
      </div>
    </div>
  </div>
  <p class="totop">
    <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
  </p>
</div>
<div id="modal-edit-review" class="modal modal-edit-review">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2><%= t "edit_review" %></h2>
    </div>
    <div class="edit-modal-body">

    </div>
  </div>
</div>
<div id="modal-edit-comment" class="modal modal-edit-comment">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2><%= t "edit_comment" %></h2>
    </div>
    <div class="edit-modal-body">

    </div>
  </div>
</div>
<div id="modal-new" class="modal modal-new">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2><%= t "borrow_book" %></h2>
    </div>
    <div class="modal-body">

    </div>
  </div>
</div>
