<tr id="<%= dom_id(category) %>">
  <td class="row-title">
    <% if category.depth > 0 %>
      <%= "—" * category.depth %> <%= category.name %>
    <% else %>
      <%= category.name %>
    <% end %>
  </td>
  <td><%= category.created_at %></td>
  <td><%= category.books.size %></td>
  <td>
    <%= link_to admin_category_path(category), class: "btn-edit-category" do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
    |
    <%= link_to admin_category_path(category), class: "btn-delete-category" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
 </tr>
