<% provide :title, t("cate_list") %>
<div class="row">
  <div class="col-md-4">
    <h1><%= t "new_cate" %></h1>
    <%= render "cate_form" %>
  </div>
  <div class="col-md-8">
    <h1><%= t "cate_list" %></h1>
    <table id="categories" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t "name" %></th>
          <th><%= t "created_at" %></th>
          <th><%= t "books" %></th>
          <th><%= t "action" %></th>
        </tr>
      </thead>
      <tbody id="the-list">
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</div>
<div id="modal-edit-category" class="modal modal-edit-category">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2><%= t "edit_category" %></h2>
    </div>
    <div class="edit-modal-body">

    </div>
  </div>
</div>
