<% provide :title, t("requests") %>
<div class="container">
  <h1><%= t "requests" %></h1>
  <div class="row">
    <div class="col-md-12">
      <h2><%= t "new_request" %></h2>
      <table class="received_req table table-bordered table-hover">
        <thead>
          <tr>
            <th><%= t "sender" %></th>
            <th><%= t "title" %></th>
            <th><%= t "content" %></th>
            <th><%= t "created_at" %></th>
            <th><%= t "status" %></th>
            <th><%= t "action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @received_requests %>
        </tbody>
      </table>
      <%= will_paginate @received_requests %>
    </div>
    <div id="modal-edit-request" class="modal modal-admin-request">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2><%= t "update_request" %></h2>
        </div>
        <div class="edit-modal-body"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2><%= t "resolved_requests" %></h2>
      <table class="proc_req table table-bordered table-hover">
        <thead>
          <tr>
            <th><%= t "sender" %></th>
            <th><%= t "title" %></th>
            <th><%= t "content" %></th>
            <th><%= t "processed_at" %></th>
            <th><%= t "status" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @processed_requests %>
        </tbody>
      </table>
    </div>
  </div>
</div>
