<% unless !logged_in? %>
  <div class="mini-navbar">
    <div class="usercp">
      <%= link_to user_path current_user do %>
        <i class="fa fa-user fa-2x"></i>
      <% end %>
    </div>
    <div class="test2">
      <%= link_to books_path do %>
        <i class="fa fa-book fa-2x"></i>
      <% end %>
    </div>
    <div class="test3">
      <a href="/books?utf8=✓&filter=most_favorites&commit=Filter"><i class="fa fa-heartbeat fa-2x"></i></a>
    </div>
    <div class="test4">
      <%= link_to requests_path do %>
        <i class="fa fa-envelope-o fa-2x"></i>
      <% end %>
    </div>
    <div class="mask2"><i class="fa fa-home fa-3x"></i></div>
  </div>
<% end %>
<div class="container">
  <div class="nav-center">
    <nav class="navbar navbar-default top-nav">
      <div class="row">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to t("home"), root_path %>
          </li>
          <li>
            <%= link_to t("books"), books_path %>
          </li>
          <% if logged_in? %>
            <li><%= link_to t("my_request"), requests_path %></li>
            </li>
            <li>
              <%= link_to current_user.name ,user_path(current_user) %>
            </li>
            <li>
              <%= link_to t(".logout"), logout_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to t("signup"), signup_path %>
            </li>
            <li>
              <%= link_to t(".login"), login_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <div class="search">
    <%= form_tag(books_path, method: "get", class: "navbar-form navbar-right") do%>
      <%= search_field_tag "search", nil, class: "form-control",
        placeholder: t("search_by") %>
      <%= submit_tag t("search"), class: "btn btn-primary", name: nil %>
    <% end %>
  </div>
  <hr class="style-two" />
</div>
